@model LibraryLocal.Modules.DirectoryViewModel
@{
    Layout = "_Layout";
}

<table class="u-table-entity u-table-entity-1">
    <thead class="u-custom-font u-font-courier-new u-palette-4-base u-table-header u-table-header-1">
    <tr style="height: 58px;">
        <th class="u-table-cell">
            @if(Model.BackLink != null)
            {
                <a class="u-link back-link" href="@Model.BackLink" title="Вернуться на уровень выше">Назад</a>
            }
        </th>
    </tr>
    </thead>
    <tbody class="u-table-body">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell limited-height">
                <a href="@item.Url">@item.Title</a>
            </td>
        </tr>
    }
    </tbody>
</table>