<header class="u-clearfix u-header u-header" id="sec-0062">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1">
            <img src="/front/default-logo.png" title="Домой" class="u-logo-image u-logo-image-1" alt="Домой">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base active" href="/files/ru" style="padding: 10px 20px">
                            Русские
                        </a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base active" href="/files/en" style="padding: 10px 20px">
                            Английские
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>