.u-section-1 .u-table-1 {
  margin: 0 auto 42px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-footer-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }
}

.u-link.back-link {
  color: #FFFFFF;
}

.u-link.back-link:hover{
    color: #E5E8E8;
}